INSTALL_WEB_INTERFACE={{ pihole_install_web_interface }}
INSTALL_WEB_SERVER={{ pihole_install_web_server }}
PIHOLE_INTERFACE={{ pihole_interface }}
PRIVACYLEVEL={{ pihole_privacy_level }}
IPV4_ADDRESS={{ host_local_ipv4 }}
{% if enable_ipv6_support == true %}
IPV6_ADDRESS={{ host_local_ipv6 }}
{% endif %}
QUERY_LOGGING={{ pihole_query_logging }}
DNSMASQ_LISTENING={{ pihole_dnsmasq_listening }}
{% if enable_unbound == true %}
PIHOLE_DNS_1=127.0.0.1#5335
{% else %}
PIHOLE_DNS_1={{ pihole_dns_1 }}
PIHOLE_DNS_2={{ pihole_dns_2 }}
{% endif %}
DNS_FQDN_REQUIRED={{ pihole_fqdn_required }}
DNS_BOGUS_PRIV={{ pihole_bogus_priv }}
LIGHTTPD_ENABLED={{ pihole_lighthttpd_enabled }}
{% if pihole_api_exclude_domains is defined %}
API_EXCLUDE_DOMAINS={{ pihole_api_exclude_domains }}
{% endif %}
{% if pihole_api_exclude_clients is defined %}
API_EXCLUDE_CLIENTS={{ pihole_api_exclude_clients }}
{% endif %}
{% if pihole_dns_cache_size is defined %}
CACHE_SIZE={{ pihole_dns_cache_size }}
{% endif %}