{# v3.0.0 - Uses global ipv6_* variables #}
{% set _enable_ipv6 = ipv6_enabled | default(false) %}
{% set _vip_ipv4 = keepalived_vip_ipv4 | default('10.20.0.53/16') %}
{% set _vip_ipv6 = ipv6_vip | default('fe80::53/64') %}
{% set _router_id = keepalived_virtual_router_id | default(1) %}
{% set _advert_int = keepalived_advert_int | default(1) %}
{% set _preempt_delay = keepalived_preempt_delay | default(900) %}
{# Use configurable interface or fall back to default #}
{% if keepalived_interface | default('') | length > 0 %}
{% set _interface = keepalived_interface %}
{% else %}
{% set _interface = ansible_default_ipv4.interface %}
{% endif %}
{# Unicast source IP - configurable or fall back to default #}
{% if keepalived_unicast_src_ip | default('') | length > 0 %}
{% set _unicast_src_ip = keepalived_unicast_src_ip %}
{% else %}
{% set _unicast_src_ip = ansible_default_ipv4.address %}
{% endif %}
{# Build unicast peer list (all cluster hosts except current) #}
{% set _peers = [] %}
{% for host in groups['pihole_cluster'] | default([]) %}
{% if host != inventory_hostname %}
{# Use keepalived_unicast_src_ip from peer if set, otherwise ansible_host or default IP #}
{% set _peer_ip = hostvars[host].keepalived_unicast_src_ip | default('') %}
{% if _peer_ip | length == 0 %}
{% set _peer_ip = hostvars[host].ansible_host | default(hostvars[host].ansible_default_ipv4.address) %}
{% endif %}
{% set _ = _peers.append(_peer_ip) %}
{% endif %}
{% endfor %}

global_defs {
    script_user {{ ansible_user }}
    enable_script_security
    max_auto_priority
    vrrp_no_swap
    checker_no_swap
}

vrrp_script check_pihole {
    script "/etc/keepalived/check_pihole.sh"
    interval {{ keepalived_check_interval | default(2) }}
    timeout {{ keepalived_check_timeout | default(2) }}
    fall {{ keepalived_check_fall | default(3) }}
    rise {{ keepalived_check_rise | default(2) }}
}

{% if _enable_ipv6 %}
vrrp_sync_group PIHOLE {
    group {
        PIHOLE-IPv4
        PIHOLE-IPv6
    }

    track_script {
        check_pihole
    }
}

vrrp_instance PIHOLE-IPv4 {
    interface {{ _interface }}
    virtual_router_id {{ _router_id }}
    priority {{ priority }}
    advert_int {{ _advert_int }}
    preempt_delay {{ _preempt_delay }}

{% if _peers | length > 0 %}
    unicast_src_ip {{ _unicast_src_ip }}
    unicast_peer {
{% for peer in _peers %}
        {{ peer }}
{% endfor %}
    }
{% endif %}

    virtual_ipaddress {
        {{ _vip_ipv4 }}
    }
}

vrrp_instance PIHOLE-IPv6 {
    interface {{ ansible_default_ipv6.interface | default(_interface) }}
    virtual_router_id {{ _router_id + 1 }}
    priority {{ priority }}
    advert_int {{ _advert_int }}
    preempt_delay {{ _preempt_delay }}

{% if _peers | length > 0 %}
    unicast_src_ip {{ _unicast_src_ip }}
    unicast_peer {
{% for peer in _peers %}
        {{ peer }}
{% endfor %}
    }
{% endif %}

    virtual_ipaddress {
        {{ _vip_ipv6 }}
    }
}
{% else %}
vrrp_sync_group PIHOLE {
    group {
        PIHOLE-IPv4
    }

    track_script {
        check_pihole
    }
}

vrrp_instance PIHOLE-IPv4 {
    interface {{ _interface }}
    virtual_router_id {{ _router_id }}
    priority {{ priority }}
    advert_int {{ _advert_int }}
    preempt_delay {{ _preempt_delay }}

{% if _peers | length > 0 %}
    unicast_src_ip {{ _unicast_src_ip }}
    unicast_peer {
{% for peer in _peers %}
        {{ peer }}
{% endfor %}
    }
{% endif %}

    virtual_ipaddress {
        {{ _vip_ipv4 }}
    }
}
{% endif %}
