---
- name: Update packages on Debian-based systems
  when:
    - updates_enabled | default(true)
    - ansible_facts['os_family'] == "Debian"
  tags:
    - updates
  block:
    - name: Update apt packages
      ansible.builtin.apt:
        force_apt_get: true
        autoclean: true
        autoremove: true
        update_cache: true
        upgrade: dist

    - name: Check if reboot is required
      ansible.builtin.stat:
        path: /var/run/reboot-required
      register: _updates_reboot_required

    - name: Reboot if required
      ansible.builtin.reboot:
        msg: "Rebooting after system updates"
      when:
        - updates_reboot | default(true)
        - _updates_reboot_required.stat.exists

- name: Update packages on RedHat-based systems
  when:
    - updates_enabled | default(true)
    - ansible_facts['os_family'] == "RedHat"
  tags:
    - updates
  block:
    - name: Update dnf packages
      ansible.builtin.dnf:
        name: "*"
        state: latest  # noqa: package-latest
        update_only: true
        update_cache: true

    - name: Clean dnf cache
      ansible.builtin.dnf:
        autoremove: true

    - name: Reboot after updates
      ansible.builtin.reboot:
        msg: "Rebooting after system updates"
      when: updates_reboot | default(true)
