- name: Update packages [Debian]
  ansible.builtin.apt:
    force_apt_get: true
    autoclean: true
    autoremove: true
    update_cache: true
    upgrade: dist
  when: ansible_os_family == "Debian"

- name: Check if reboot is needed [Debian]
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: reboot_required
  when: ansible_os_family == "Debian"

- name: Reboot [Debian]
  ansible.builtin.reboot:
    msg: "Rebooting machine in 5 seconds"
  when:
    - ansible_os_family == "Debian"
    - reboot_required.stat.exists

- name: Update packages [RedHat]
  ansible.builtin.dnf:
    name: "*"
    state: latest
    update_only: true
    update_cache: true
  when: ansible_os_family == "RedHat"

- name: Reboot [RedHat]
  ansible.builtin.reboot:
    msg: "Rebooting machine in 5 seconds"
  become: true
  when: ansible_os_family == "RedHat"
