- name: Ensures /etc/gravity-sync dir exists
  ansible.builtin.file:
    path: /etc/gravity-sync
    state: directory
    mode: 0755

- name: Create gravity-sync.conf
  ansible.builtin.template:
    dest: /etc/gravity-sync/gravity-sync.conf
    src: gravity-sync.conf.j2
    mode: 0644

- name: Install Gravity Sync
  ansible.builtin.shell: curl -sSL https://raw.githubusercontent.com/vmstan/gs-install/main/gs-install.sh | bash
  register: process_status
  changed_when: false

- name: Display Gravity Sync installation process
  ansible.builtin.debug:
    var: process_status.stdout_lines

- name: Run Gravity Sync PUSH command
  ansible.builtin.command: gravity-sync push
  become_user: "{{ ansible_user }}"
  register: push_status
  when: inventory_hostname in groups['master']

- name: Display Gravity Sync PUSH process
  ansible.builtin.debug:
    var: push_status.stdout_lines
  when: inventory_hostname in groups['master']
  changed_when: false

- name: Automate Gravity Sync
  ansible.builtin.command: gravity-sync auto {{ gravity_sync_frequency }}
  become_user: "{{ ansible_user }}"
  register: sync_status
  changed_when: false

- name: Display Gravity Sync AUTO process
  ansible.builtin.debug:
    var: sync_status.stdout_lines
